In [1]:
!pip install 'vanna[openai]'

Collecting vanna[openai]
  Obtaining dependency information for vanna[openai] from https://files.pythonhosted.org/packages/0f/e4/af7dfaf8e103acb90f5d169144d2e9994e17d9c7992a5881f1a81148dcac/vanna-0.2.1-py3-none-any.whl.metadata
  Downloading vanna-0.2.1-py3-none-any.whl.metadata (9.7 kB)
Requirement already satisfied: requests in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from vanna[openai]) (2.31.0)
Requirement already satisfied: tabulate in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from vanna[openai]) (0.9.0)
Requirement already satisfied: plotly in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from vanna[openai]) (5.15.0)
Requirement already satisfied: pandas in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from vanna[openai]) (1.5.3)
Requirement already satisfied: sqlparse in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from vanna[openai]) (0.4.4)
Collecting kaleido (from vanna[openai])
  Obtaining dependency information for kaleido from https://files.pythonhosted.org/packages/e0/f7/0ccaa596ec341963adbb4f839774c36d5659e75a0812d946732b927d480e/kaleido-0.2.1-py2.py3-none-macosx_10_11_x86_64.whl.metadata
  Downloading kaleido-0.2.1-py2.py3-none-macosx_10_11_x86_64.whl.metadata (15 kB)
Requirement already satisfied: flask in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from vanna[openai]) (2.3.2)
Requirement already satisfied: sqlalchemy in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from vanna[openai]) (1.4.51)
Requirement already satisfied: openai in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from vanna[openai]) (1.10.0)
Requirement already satisfied: Werkzeug>=2.3.3 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from flask->vanna[openai]) (2.3.4)
Requirement already satisfied: Jinja2>=3.1.2 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from flask->vanna[openai]) (3.1.2)
Requirement already satisfied: itsdangerous>=2.1.2 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from flask->vanna[openai]) (2.1.2)
Requirement already satisfied: click>=8.1.3 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from flask->vanna[openai]) (8.1.3)
Requirement already satisfied: blinker>=1.6.2 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from flask->vanna[openai]) (1.6.2)
Requirement already satisfied: importlib-metadata>=3.6.0 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from flask->vanna[openai]) (6.0.0)
Requirement already satisfied: anyio<5,>=3.5.0 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from openai->vanna[openai]) (3.7.0)
Requirement already satisfied: distro<2,>=1.7.0 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from openai->vanna[openai]) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from openai->vanna[openai]) (0.25.2)
Requirement already satisfied: pydantic<3,>=1.9.0 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from openai->vanna[openai]) (1.10.8)
Requirement already satisfied: sniffio in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from openai->vanna[openai]) (1.3.0)
Requirement already satisfied: tqdm>4 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from openai->vanna[openai]) (4.65.0)
Requirement already satisfied: typing-extensions<5,>=4.7 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from openai->vanna[openai]) (4.10.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from pandas->vanna[openai]) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from pandas->vanna[openai]) (2022.7)
Requirement already satisfied: numpy>=1.20.3 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from pandas->vanna[openai]) (1.23.3)
Requirement already satisfied: tenacity>=6.2.0 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from plotly->vanna[openai]) (8.2.2)
Requirement already satisfied: packaging in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from plotly->vanna[openai]) (23.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from requests->vanna[openai]) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from requests->vanna[openai]) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from requests->vanna[openai]) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from requests->vanna[openai]) (2023.7.22)
Requirement already satisfied: greenlet!=0.4.17 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from sqlalchemy->vanna[openai]) (2.0.2)
Requirement already satisfied: exceptiongroup in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from anyio<5,>=3.5.0->openai->vanna[openai]) (1.1.1)
Requirement already satisfied: httpcore==1.* in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from httpx<1,>=0.23.0->openai->vanna[openai]) (1.0.2)
Requirement already satisfied: h11<0.15,>=0.13 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai->vanna[openai]) (0.14.0)
Requirement already satisfied: zipp>=0.5 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from importlib-metadata>=3.6.0->flask->vanna[openai]) (3.11.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from Jinja2>=3.1.2->flask->vanna[openai]) (2.1.2)
Requirement already satisfied: six>=1.5 in /Users/marceloyou/miniconda3/envs/mlops/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas->vanna[openai]) (1.16.0)
Downloading kaleido-0.2.1-py2.py3-none-macosx_10_11_x86_64.whl (85.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.2/85.2 MB 158.8 kB/s eta 0:00:00m eta 0:00:01[36m0:00:15
Downloading vanna-0.2.1-py3-none-any.whl (82 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 82.4/82.4 kB 876.2 kB/s eta 0:00:001m1.3 MB/s eta 0:00:01
Installing collected packages: kaleido, vanna
Successfully installed kaleido-0.2.1 vanna-0.2.1

In [29]:
from vanna.openai.openai_chat import OpenAI_Chat
from vanna.vannadb.vannadb_vector import VannaDB_VectorStore
import pandas as pd
import os
from dotenv import load_dotenv, find_dotenv
import sys


sys.path.append('../../src')
from utils import * 

_ = load_dotenv(find_dotenv())

In [30]:
openai_key = os.getenv('OPENAI_API_KEY')
my_vanna_api = '1a642e16571c4c1fb05343ccbe509078'
my_vanna_model = 'comp0078-test'

In [31]:
openai_key

'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'

In [32]:
class MyVanna(VannaDB_VectorStore, OpenAI_Chat):
    def __init__(self, config=None):
        MY_VANNA_MODEL = 'comp0078-test'
        VannaDB_VectorStore.__init__(self, vanna_model=MY_VANNA_MODEL, vanna_api_key=my_vanna_api, config=config)
        OpenAI_Chat.__init__(self, config=config)

vn = MyVanna(config={'api_key': openai_key, 'model': 'gpt-3.5-turbo'})

## Test with academic db

In [33]:
vn.connect_to_sqlite('/Users/marceloyou/Desktop/UCL-DSML/COMP0087-Boss/SQLess/src/evaluation/database/academic/academic.sqlite')

In [34]:
df_ddl = vn.run_sql("SELECT type, sql FROM sqlite_master WHERE sql is not null")

In [35]:
df_ddl

     type                                                sql
0   table  CREATE TABLE "author" (\n"aid" int,\n"homepage...
1   table  CREATE TABLE "conference" (\n"cid" int,\n"home...
2   table  CREATE TABLE "domain" (\n"did" int,\n"name" te...
3   table  CREATE TABLE "domain_author" (\n"aid" int,\n"d...
4   table  CREATE TABLE "domain_conference" (\n"cid" int,...
5   table  CREATE TABLE "journal" (\n"homepage" text,\n"j...
6   table  CREATE TABLE "domain_journal" (\n"did" int,\n"...
7   table  CREATE TABLE "keyword" (\n"keyword" text,\n"ki...
8   table  CREATE TABLE "domain_keyword" (\n"did" int,\n"...
9   table  CREATE TABLE "publication" (\n"abstract" text,...
10  table  CREATE TABLE "domain_publication" (\n"did" int...
11  table  CREATE TABLE "organization" (\n"continent" tex...
12  table  CREATE TABLE "publication_keyword" (\n"pid" in...
13  table  CREATE TABLE "writes" (\n"aid" int,\n"pid" int...
14  table  CREATE TABLE "cite" (\n"cited" int,\n"citing" ...

In [36]:
for ddl in df_ddl['sql'].to_list():
  vn.train(ddl=ddl)

Adding ddl: CREATE TABLE "author" (
"aid" int,
"homepage" text,
"name" text,
"oid" int,
primary key("aid"),
foreign key("oid") references "organization"("oid"))
Adding ddl: CREATE TABLE "conference" (
"cid" int,
"homepage" text,
"name" text,
primary key ("cid")
)
Adding ddl: CREATE TABLE "domain" (
"did" int,
"name" text,
primary key ("did")
)
Adding ddl: CREATE TABLE "domain_author" (
"aid" int,
"did" int,
primary key ("did", "aid"),
foreign key("did") references "domain"("did"),
foreign key("aid") references "author"("aid"))
Adding ddl: CREATE TABLE "domain_conference" (
"cid" int,
"did" int,
primary key ("did", "cid"),
foreign key("did") references "domain"("did"),
foreign key("cid") references "conference"("cid"))
Adding ddl: CREATE TABLE "journal" (
"homepage" text,
"jid" int,
"name" text,
primary key("jid")
)
Adding ddl: CREATE TABLE "domain_journal" (
"did" int,
"jid" int,
primary key ("did", "jid"),
foreign key("did") references "domain"("did"),
foreign key("jid") references "journal"("jid"))
Adding ddl: CREATE TABLE "keyword" (
"keyword" text,
"kid" int,
primary key("kid")
)
Adding ddl: CREATE TABLE "domain_keyword" (
"did" int,
"kid" int,
primary key ("did", "kid"),
foreign key("did") references "domain"("did"),
foreign key("kid") references "keyword"("kid"))
Adding ddl: CREATE TABLE "publication" (
"abstract" text,
"cid" text,
"citation_num" int,
"jid" int,
"pid" int,
"reference_num" int,
"title" text,
"year" int,
primary key("pid"),
foreign key("cid") references "conference"("cid"),
foreign key("jid") references "journal"("jid"))
Adding ddl: CREATE TABLE "domain_publication" (
"did" int,
"pid" int,
primary key ("did", "pid"),
foreign key("did") references "domain"("did"),
foreign key("pid") references "publication"("pid"))
Adding ddl: CREATE TABLE "organization" (
"continent" text,
"homepage" text,
"name" text,
"oid" int,
primary key("oid")
)
Adding ddl: CREATE TABLE "publication_keyword" (
"pid" int,
"kid" int,
primary key ("kid", "pid"),
foreign key("pid") references "publication"("pid"),
foreign key("kid") references "keyword"("kid"))
Adding ddl: CREATE TABLE "writes" (
"aid" int,
"pid" int,
primary key ("aid", "pid"),
foreign key("pid") references "publication"("pid"),
foreign key("aid") references "author"("aid"))
Adding ddl: CREATE TABLE "cite" (
"cited" int,
"citing" int,
foreign key("citing") references "publication"("pid"),
foreign key("cited") references "publication"("pid"))

In [7]:
vn.get_training_data()

,id,training_data_type,question,content
0,48221-ddl,ddl,NaN,"CREATE TABLE ""domain_author"" (\n""aid"" int,\n""d..."
1,48222-ddl,ddl,NaN,"CREATE TABLE ""domain_conference"" (\n""cid"" int,..."
2,48229-ddl,ddl,NaN,"CREATE TABLE ""organization"" (\n""continent"" tex..."
3,48224-ddl,ddl,NaN,"CREATE TABLE ""domain_journal"" (\n""did"" int,\n""..."
4,48231-ddl,ddl,NaN,"CREATE TABLE ""writes"" (\n""aid"" int,\n""pid"" int..."
5,48223-ddl,ddl,NaN,"CREATE TABLE ""journal"" (\n""homepage"" text,\n""j..."
6,48230-ddl,ddl,NaN,"CREATE TABLE ""publication_keyword"" (\n""pid"" in..."
7,48225-ddl,ddl,NaN,"CREATE TABLE ""keyword"" (\n""keyword"" text,\n""ki..."
8,48227-ddl,ddl,NaN,"CREATE TABLE ""publication"" (\n""abstract"" text,..."
9,48226-ddl,ddl,NaN,"CREATE TABLE ""domain_keyword"" (\n""did"" int,\n""..."
10,48228-ddl,ddl,NaN,"CREATE TABLE ""domain_publication"" (\n""did"" int..."
11,48218-ddl,ddl,NaN,"CREATE TABLE ""author"" (\n""aid"" int,\n""homepage..."
12,48220-ddl,ddl,NaN,"CREATE TABLE ""domain"" (\n""did"" int,\n""name"" te..."
13,48219-ddl,ddl,NaN,"CREATE TABLE ""conference"" (\n""cid"" int,\n""home..."
14,48232-ddl,ddl,NaN,"CREATE TABLE ""cite"" (\n""cited"" int,\n""citing"" ..."

In [37]:
#questions = pd.read_csv('/Users/marceloyou/Desktop/UCL-DSML/COMP0087-Boss/SQLess/data/sql_test_suite_academic/masked_academic_sample.csv')
questions = pd.read_csv('/Users/marceloyou/Desktop/UCL-DSML/COMP0087-Boss/SQLess/data/sql_test_suite_academic/masked_academic_sample_v2.csv')

In [38]:
questions

,question,db_id,db_path,masked,schema,update_schema,schema_dict
0,return me the year of the publication of the p...,academic,database/academic/academic.sqlite,return me the [MASK] of the [MASK] of the pape...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE cite (\n\tcited INTEGER, \n\tci...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
1,return me all the titles of the paper after ye...,academic,database/academic/academic.sqlite,return me all the [MASK] of the paper after [M...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
2,return me all the keywords,academic,database/academic/academic.sqlite,return me all the [MASK],"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
3,return me the reference number of the paper wi...,academic,database/academic/academic.sqlite,return me the [MASK] number of the paper with ...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE cite (\n\tcited INTEGER, \n\tci...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
4,return me the author name who have papers in V...,academic,database/academic/academic.sqlite,return me the [MASK] [MASK] who have papers in...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
5,return me the research domain associated with ...,academic,database/academic/academic.sqlite,return me the research [MASK] associated with ...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
6,return me the journals that have published pap...,academic,database/academic/academic.sqlite,return me the [MASK] that have [MASK] papers [...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
7,return me list the titles of papers published ...,academic,database/academic/academic.sqlite,return me list the [MASK] of papers [MASK] in ...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
8,"return me the titles of papers authored by ""H....",academic,database/academic/academic.sqlite,"return me the [MASK] of papers [MASK] by ""H. V...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
9,return me the keywords associated with the pub...,academic,database/academic/academic.sqlite,return me the [MASK] associated with the [MASK...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
10,return me the keywords associated with the pub...,academic,database/academic/academic.sqlite,return me the [MASK] associated with the [MASK...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
11,return me all the author names in organisation...,academic,database/academic/academic.sqlite,"return me all the [MASK] [MASK] in [MASK] ""Uni...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
12,return me the name of authors specialising in ...,academic,database/academic/academic.sqlite,return me the [MASK] of [MASK] specialising in...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
13,return me all the titles of papers published i...,academic,database/academic/academic.sqlite,return me all the [MASK] of papers [MASK] in t...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
14,return me the titles of papers within the rese...,academic,database/academic/academic.sqlite,return me the [MASK] of papers within the rese...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE cite (\n\tcited INTEGER, \n\tci...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
15,"return me titles of papers authored by ""H. V. ...",academic,database/academic/academic.sqlite,"return me [MASK] of papers [MASK] by ""H. V. Ja...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE cite (\n\tcited INTEGER, \n\tci...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
16,return me the number of unique journals which ...,academic,database/academic/academic.sqlite,return me the number of unique [MASK] which ha...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...",\nCREATE TABLE domain_journal (\n\tdid INTEGER...,"{'author': ['aid', 'homepage', 'name', 'oid'],..."
17,return me the number of unique papers presente...,academic,database/academic/academic.sqlite,return me the number of unique papers presente...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE conference (\n\tcid INTEGER, \n...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
18,return me the number of unique papers publishe...,academic,database/academic/academic.sqlite,return me the number of unique papers [MASK] o...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
19,return me the number of unique papers authored...,academic,database/academic/academic.sqlite,return me the number of unique papers [MASK] b...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE conference (\n\tcid INTEGER, \n...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
20,return me the number of unique organizations i...,academic,database/academic/academic.sqlite,return me the number of unique [MASK] in the [...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
21,return me the number of unique papers that are...,academic,database/academic/academic.sqlite,return me the number of unique papers that are...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE conference (\n\tcid INTEGER, \n...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
22,return me the number of unique papers that are...,academic,database/academic/academic.sqlite,return me the number of unique papers that are...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
23,return me the total citations number of papers...,academic,database/academic/academic.sqlite,return me the total [MASK] number of papers th...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE cite (\n\tcited INTEGER, \n\tci...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
24,return me the total number of citations for al...,academic,database/academic/academic.sqlite,return me the total number of [MASK] for all p...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE cite (\n\tcited INTEGER, \n\tci...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
25,return me the total number of citations receiv...,academic,database/academic/academic.sqlite,return me the total number of [MASK] received ...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE cite (\n\tcited INTEGER, \n\tci...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
26,return me the names of authors who are part of...,academic,database/academic/academic.sqlite,return me the [MASK] of [MASK] who are part of...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
27,return me the titles of papers that were co-au...,academic,database/academic/academic.sqlite,return me the [MASK] of papers that were [MASK...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
28,return me paper titles that were co-authored b...,academic,database/academic/academic.sqlite,return me paper [MASK] that were [MASK] by H. ...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
29,return me the number of authors who have publi...,academic,database/academic/academic.sqlite,return me the number of [MASK] who have [MASK]...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
30,"return me the number of journals, which have p...",academic,database/academic/academic.sqlite,return me the number of [MASK] which have [MAS...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...",\nCREATE TABLE domain_keyword (\n\tdid INTEGER...,"{'author': ['aid', 'homepage', 'name', 'oid'],..."
31,"return me the number of keywords, which have b...",academic,database/academic/academic.sqlite,return me the number of [MASK] which have been...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE conference (\n\tcid INTEGER, \n...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
32,"return me the number of publication keywords, ...",academic,database/academic/academic.sqlite,return me the number of [MASK] [MASK] which ha...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
33,"return me the number of publication keywords, ...",academic,database/academic/academic.sqlite,return me the number of [MASK] [MASK] which ha...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
34,"return me the name of conferences, which have ...",academic,database/academic/academic.sqlite,return me the [MASK] of [MASK] which have more...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
35,"return me the name of conferences, which have ...",academic,database/academic/academic.sqlite,return me the [MASK] of [MASK] which have the ...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
36,"return me the name of journal, which have the ...",academic,database/academic/academic.sqlite,return me the [MASK] of [MASK] which have the ...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
37,return me the title of paper in the domain of ...,academic,database/academic/academic.sqlite,return me the [MASK] of paper in the [MASK] of...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE cite (\n\tcited INTEGER, \n\tci...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
38,return me the title of paper by author H. V. J...,academic,database/academic/academic.sqlite,return me the [MASK] of paper by [MASK] H. V. ...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE cite (\n\tcited INTEGER, \n\tci...","{'author': ['aid', 'homepage', 'name', 'oid'],..."
39,return me the title of paper after year 2000 i...,academic,database/academic/academic.sqlite,return me the [MASK] of paper after [MASK] 200...,"\nCREATE TABLE author (\n\taid INTEGER, \n\tho...","\nCREATE TABLE cite (\n\tcited INTEGER, \n\tci...","{'author': ['aid', 'homepage', 'name', 'oid'],..."

In [39]:
res = []
import tqdm

for q in tqdm.tqdm(questions.question.to_list()):
    ans = vn.ask(question=q, print_results=False, auto_train=False, visualize=False)
    res.append(ans[0])

  0%|          | 0/40 [00:00<?, ?it/s]

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the year of the publication of the paper with title "Making database systems usable"'}]
Using model gpt-3.5-turbo for 627.5 tokens (approx)

  2%|▎         | 1/40 [00:01<01:11,  1.83s/it]

```sql
SELECT year
FROM publication
WHERE title = 'Making database systems usable';
```
Output from LLM: ```sql
SELECT year
FROM publication
WHERE title = 'Making database systems usable';
```
Extracted SQL: SELECT year
FROM publication
WHERE title = 'Making database systems usable';

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me all the titles of the paper after year 2000'}]
Using model gpt-3.5-turbo for 629.25 tokens (approx)

  5%|▌         | 2/40 [00:03<01:02,  1.65s/it]

```sql
SELECT title
FROM publication
WHERE year > 2000;
```
Output from LLM: ```sql
SELECT title
FROM publication
WHERE year > 2000;
```
Extracted SQL: SELECT title
FROM publication
WHERE year > 2000;

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "keyword" (\n"keyword" text,\n"kid" int,\nprimary key("kid")\n)\n\nCREATE TABLE "keyword" (\n"keyword" text,\n"kid" int,\nprimary key("kid")\n)\n\nCREATE TABLE "domain_keyword" (\n"did" int,\n"kid" int,\nprimary key ("did", "kid"),\nforeign key("did") references "domain"("did"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "domain_keyword" (\n"did" int,\n"kid" int,\nprimary key ("did", "kid"),\nforeign key("did") references "domain"("did"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "journal" (\n"homepage" text,\n"jid" int,\n"name" text,\nprimary key("jid")\n)\n\nCREATE TABLE "journal" (\n"homepage" text,\n"jid" int,\n"name" text,\nprimary key("jid")\n)\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me all the keywords'}]
Using model gpt-3.5-turbo for 474.5 tokens (approx)

  8%|▊         | 3/40 [00:04<00:57,  1.57s/it]

SELECT * FROM keyword;
[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the reference number of the paper with title "Making database systems usable"'}]
Using model gpt-3.5-turbo for 625.75 tokens (approx)

 10%|█         | 4/40 [00:07<01:09,  1.92s/it]

```sql
SELECT reference_num
FROM publication
WHERE title = 'Making database systems usable';
```
Output from LLM: ```sql
SELECT reference_num
FROM publication
WHERE title = 'Making database systems usable';
```
Extracted SQL: SELECT reference_num
FROM publication
WHERE title = 'Making database systems usable';

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "domain_author" (\n"aid" int,\n"did" int,\nprimary key ("did", "aid"),\nforeign key("did") references "domain"("did"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "domain_author" (\n"aid" int,\n"did" int,\nprimary key ("did", "aid"),\nforeign key("did") references "domain"("did"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the author name who have papers in VLDB conference in 2002 along with conference name, publication and writes.'}]
Using model gpt-3.5-turbo for 622.0 tokens (approx)

 12%|█▎        | 5/40 [00:09<01:08,  1.96s/it]

```sql
SELECT a.name AS author_name, c.name AS conference_name, p.title AS publication_title
FROM author a
JOIN writes w ON a.aid = w.aid
JOIN publication p ON w.pid = p.pid
JOIN conference c ON p.cid = c.cid
WHERE c.name = 'VLDB' AND p.year = 2002;
```
Output from LLM: ```sql
SELECT a.name AS author_name, c.name AS conference_name, p.title AS publication_title
FROM author a
JOIN writes w ON a.aid = w.aid
JOIN publication p ON w.pid = p.pid
JOIN conference c ON p.cid = c.cid
WHERE c.name = 'VLDB' AND p.year = 2002;
```
Extracted SQL: SELECT a.name AS author_name, c.name AS conference_name, p.title AS publication_title
FROM author a
JOIN writes w ON a.aid = w.aid
JOIN publication p ON w.pid = p.pid
JOIN conference c ON p.cid = c.cid
WHERE c.name = 'VLDB' AND p.year = 2002;

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_conference" (\n"cid" int,\n"did" int,\nprimary key ("did", "cid"),\nforeign key("did") references "domain"("did"),\nforeign key("cid") references "conference"("cid"))\n\nCREATE TABLE "domain_conference" (\n"cid" int,\n"did" int,\nprimary key ("did", "cid"),\nforeign key("did") references "domain"("did"),\nforeign key("cid") references "conference"("cid"))\n\nCREATE TABLE "domain" (\n"did" int,\n"name" text,\nprimary key ("did")\n)\n\nCREATE TABLE "domain" (\n"did" int,\n"name" text,\nprimary key ("did")\n)\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the research domain associated with the PVLDB journal'}]
Using model gpt-3.5-turbo for 587.75 tokens (approx)

 15%|█▌        | 6/40 [00:11<01:06,  1.96s/it]

```sql
SELECT d.name AS research_domain
FROM domain d
JOIN domain_journal dj ON d.did = dj.did
JOIN publication p ON dj.jid = p.jid
WHERE p.title = 'PVLDB';
```
Output from LLM: ```sql
SELECT d.name AS research_domain
FROM domain d
JOIN domain_journal dj ON d.did = dj.did
JOIN publication p ON dj.jid = p.jid
WHERE p.title = 'PVLDB';
```
Extracted SQL: SELECT d.name AS research_domain
FROM domain d
JOIN domain_journal dj ON d.did = dj.did
JOIN publication p ON dj.jid = p.jid
WHERE p.title = 'PVLDB';

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "journal" (\n"homepage" text,\n"jid" int,\n"name" text,\nprimary key("jid")\n)\n\nCREATE TABLE "journal" (\n"homepage" text,\n"jid" int,\n"name" text,\nprimary key("jid")\n)\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the journals that have published papers authored by "H. V. Jagadish"'}]
Using model gpt-3.5-turbo for 569.5 tokens (approx)

 18%|█▊        | 7/40 [00:14<01:19,  2.40s/it]

```sql
SELECT DISTINCT j.jid, j.name, j.homepage
FROM journal j
JOIN publication p ON j.jid = p.jid
JOIN author a ON p.pid = a.aid
WHERE a.name = 'H. V. Jagadish';
```
Output from LLM: ```sql
SELECT DISTINCT j.jid, j.name, j.homepage
FROM journal j
JOIN publication p ON j.jid = p.jid
JOIN author a ON p.pid = a.aid
WHERE a.name = 'H. V. Jagadish';
```
Extracted SQL: SELECT DISTINCT j.jid, j.name, j.homepage
FROM journal j
JOIN publication p ON j.jid = p.jid
JOIN author a ON p.pid = a.aid
WHERE a.name = 'H. V. Jagadish';

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me list the titles of papers published in the PVLDB journal after the year 2000?'}]
Using model gpt-3.5-turbo for 639.75 tokens (approx)

 20%|██        | 8/40 [00:17<01:26,  2.71s/it]

```sql
SELECT title
FROM publication
WHERE jid = (SELECT jid FROM journal WHERE name = 'PVLDB') AND year > 2000;
```
Output from LLM: ```sql
SELECT title
FROM publication
WHERE jid = (SELECT jid FROM journal WHERE name = 'PVLDB') AND year > 2000;
```
Extracted SQL: SELECT title
FROM publication
WHERE jid = (SELECT jid FROM journal WHERE name = 'PVLDB') AND year > 2000;

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the titles of papers authored by "H. V. Jagadish" that were published after the year 2000.'}]
Using model gpt-3.5-turbo for 624.0 tokens (approx)

 22%|██▎       | 9/40 [00:19<01:16,  2.45s/it]

```sql
SELECT p.title
FROM publication p
JOIN author a ON p.pid = a.aid
WHERE a.name = 'H. V. Jagadish' AND p.year > 2000;
```
Output from LLM: ```sql
SELECT p.title
FROM publication p
JOIN author a ON p.pid = a.aid
WHERE a.name = 'H. V. Jagadish' AND p.year > 2000;
```
Extracted SQL: SELECT p.title
FROM publication p
JOIN author a ON p.pid = a.aid
WHERE a.name = 'H. V. Jagadish' AND p.year > 2000;

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "keyword" (\n"keyword" text,\n"kid" int,\nprimary key("kid")\n)\n\nCREATE TABLE "keyword" (\n"keyword" text,\n"kid" int,\nprimary key("kid")\n)\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "domain_keyword" (\n"did" int,\n"kid" int,\nprimary key ("did", "kid"),\nforeign key("did") references "domain"("did"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "domain_keyword" (\n"did" int,\n"kid" int,\nprimary key ("did", "kid"),\nforeign key("did") references "domain"("did"),\nforeign key("kid") references "keyword"("kid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the keywords associated with the publication titled "Making database systems usable"'}]
Using model gpt-3.5-turbo for 585.5 tokens (approx)

 25%|██▌       | 10/40 [00:21<01:09,  2.33s/it]

```sql
SELECT k.keyword
FROM keyword k
JOIN publication_keyword pk ON k.kid = pk.kid
JOIN publication p ON pk.pid = p.pid
WHERE p.title = 'Making database systems usable';
```
Output from LLM: ```sql
SELECT k.keyword
FROM keyword k
JOIN publication_keyword pk ON k.kid = pk.kid
JOIN publication p ON pk.pid = p.pid
WHERE p.title = 'Making database systems usable';
```
Extracted SQL: SELECT k.keyword
FROM keyword k
JOIN publication_keyword pk ON k.kid = pk.kid
JOIN publication p ON pk.pid = p.pid
WHERE p.title = 'Making database systems usable';

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "keyword" (\n"keyword" text,\n"kid" int,\nprimary key("kid")\n)\n\nCREATE TABLE "keyword" (\n"keyword" text,\n"kid" int,\nprimary key("kid")\n)\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the keywords associated with the publications authored by "H. V. Jagadish"'}]
Using model gpt-3.5-turbo for 569.0 tokens (approx)

 28%|██▊       | 11/40 [00:24<01:06,  2.30s/it]

```sql
SELECT DISTINCT k.keyword
FROM keyword k
JOIN publication_keyword pk ON k.kid = pk.kid
JOIN publication p ON pk.pid = p.pid
JOIN author a ON p.pid = a.aid
WHERE a.name = 'H. V. Jagadish';
```
Output from LLM: ```sql
SELECT DISTINCT k.keyword
FROM keyword k
JOIN publication_keyword pk ON k.kid = pk.kid
JOIN publication p ON pk.pid = p.pid
JOIN author a ON p.pid = a.aid
WHERE a.name = 'H. V. Jagadish';
```
Extracted SQL: SELECT DISTINCT k.keyword
FROM keyword k
JOIN publication_keyword pk ON k.kid = pk.kid
JOIN publication p ON pk.pid = p.pid
JOIN author a ON p.pid = a.aid
WHERE a.name = 'H. V. Jagadish';

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "domain_author" (\n"aid" int,\n"did" int,\nprimary key ("did", "aid"),\nforeign key("did") references "domain"("did"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "domain_author" (\n"aid" int,\n"did" int,\nprimary key ("did", "aid"),\nforeign key("did") references "domain"("did"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "organization" (\n"continent" text,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("oid")\n)\n\nCREATE TABLE "organization" (\n"continent" text,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("oid")\n)\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me all the author names in organisation "University of Michigan"'}]
Using model gpt-3.5-turbo for 546.25 tokens (approx)

 30%|███       | 12/40 [00:27<01:09,  2.49s/it]

```sql
SELECT a.name
FROM author a
JOIN organization o ON a.oid = o.oid
WHERE o.name = 'University of Michigan';
```
Output from LLM: ```sql
SELECT a.name
FROM author a
JOIN organization o ON a.oid = o.oid
WHERE o.name = 'University of Michigan';
```
Extracted SQL: SELECT a.name
FROM author a
JOIN organization o ON a.oid = o.oid
WHERE o.name = 'University of Michigan';

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "domain_author" (\n"aid" int,\n"did" int,\nprimary key ("did", "aid"),\nforeign key("did") references "domain"("did"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "domain_author" (\n"aid" int,\n"did" int,\nprimary key ("did", "aid"),\nforeign key("did") references "domain"("did"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "organization" (\n"continent" text,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("oid")\n)\n\nCREATE TABLE "organization" (\n"continent" text,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("oid")\n)\n\nCREATE TABLE "domain_keyword" (\n"did" int,\n"kid" int,\nprimary key ("did", "kid"),\nforeign key("did") references "domain"("did"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "domain_keyword" (\n"did" int,\n"kid" int,\nprimary key ("did", "kid"),\nforeign key("did") references "domain"("did"),\nforeign key("kid") references "keyword"("kid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the name of authors specialising in the domain of "Databases" at the orgnisation "University of Michigan"'}]
Using model gpt-3.5-turbo for 558.25 tokens (approx)

 32%|███▎      | 13/40 [00:28<01:02,  2.31s/it]

```sql
SELECT DISTINCT a.name
FROM author a
JOIN domain_author da ON a.aid = da.aid
JOIN domain d ON da.did = d.did
JOIN organization o ON a.oid = o.oid
WHERE d.name = 'Databases' AND o.name = 'University of Michigan';
```
Output from LLM: ```sql
SELECT DISTINCT a.name
FROM author a
JOIN domain_author da ON a.aid = da.aid
JOIN domain d ON da.did = d.did
JOIN organization o ON a.oid = o.oid
WHERE d.name = 'Databases' AND o.name = 'University of Michigan';
```
Extracted SQL: SELECT DISTINCT a.name
FROM author a
JOIN domain_author da ON a.aid = da.aid
JOIN domain d ON da.did = d.did
JOIN organization o ON a.oid = o.oid
WHERE d.name = 'Databases' AND o.name = 'University of Michigan';

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me all the titles of papers published in the PVLDB journal by authors from the University of Michigan'}]
Using model gpt-3.5-turbo for 643.0 tokens (approx)

 35%|███▌      | 14/40 [00:31<00:58,  2.26s/it]

```sql
SELECT DISTINCT p.title
FROM publication p
JOIN writes w ON p.pid = w.pid
JOIN author a ON w.aid = a.aid
JOIN affiliation af ON a.afid = af.afid
JOIN journal j ON p.jid = j.jid
WHERE j.jid = (SELECT jid FROM journal WHERE jname = 'PVLDB')
AND af.afiliation_name = 'University of Michigan';
```
Output from LLM: ```sql
SELECT DISTINCT p.title
FROM publication p
JOIN writes w ON p.pid = w.pid
JOIN author a ON w.aid = a.aid
JOIN affiliation af ON a.afid = af.afid
JOIN journal j ON p.jid = j.jid
WHERE j.jid = (SELECT jid FROM journal WHERE jname = 'PVLDB')
AND af.afiliation_name = 'University of Michigan';
```
Extracted SQL: SELECT DISTINCT p.title
FROM publication p
JOIN writes w ON p.pid = w.pid
JOIN author a ON w.aid = a.aid
JOIN affiliation af ON a.afid = af.afid
JOIN journal j ON p.jid = j.jid
WHERE j.jid = (SELECT jid FROM journal WHERE jname = 'PVLDB')
AND af.afiliation_name = 'University of Michigan';

Couldn't run sql:  Execution failed on sql 'SELECT DISTINCT p.title
FROM publication p
JOIN writes w ON p.pid = w.pid
JOIN author a ON w.aid = a.aid
JOIN affiliation af ON a.afid = af.afid
JOIN journal j ON p.jid = j.jid
WHERE j.jid = (SELECT jid FROM journal WHERE jname = 'PVLDB')
AND af.afiliation_name = 'University of Michigan';
': no such table: affiliation
[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_conference" (\n"cid" int,\n"did" int,\nprimary key ("did", "cid"),\nforeign key("did") references "domain"("did"),\nforeign key("cid") references "conference"("cid"))\n\nCREATE TABLE "domain_conference" (\n"cid" int,\n"did" int,\nprimary key ("did", "cid"),\nforeign key("did") references "domain"("did"),\nforeign key("cid") references "conference"("cid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the titles of papers within the research domain "Databases" that have received more than 200 citations'}]
Using model gpt-3.5-turbo for 644.0 tokens (approx)

 38%|███▊      | 15/40 [00:33<00:57,  2.31s/it]

```sql
SELECT p.title
FROM publication p
JOIN domain_publication dp ON p.pid = dp.pid
JOIN domain d ON dp.did = d.did
WHERE d.domain_name = 'Databases' AND p.citation_num > 200;
```
Output from LLM: ```sql
SELECT p.title
FROM publication p
JOIN domain_publication dp ON p.pid = dp.pid
JOIN domain d ON dp.did = d.did
WHERE d.domain_name = 'Databases' AND p.citation_num > 200;
```
Extracted SQL: SELECT p.title
FROM publication p
JOIN domain_publication dp ON p.pid = dp.pid
JOIN domain d ON dp.did = d.did
WHERE d.domain_name = 'Databases' AND p.citation_num > 200;

Couldn't run sql:  Execution failed on sql 'SELECT p.title
FROM publication p
JOIN domain_publication dp ON p.pid = dp.pid
JOIN domain d ON dp.did = d.did
WHERE d.domain_name = 'Databases' AND p.citation_num > 200;
': no such column: d.domain_name
[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me titles of papers authored by "H. V. Jagadish" that have received more than 200 citations'}]
Using model gpt-3.5-turbo for 623.5 tokens (approx)

 40%|████      | 16/40 [00:35<00:55,  2.33s/it]

```sql
SELECT p.title
FROM publication p
JOIN author a ON p.pid = a.aid
WHERE a.name = 'H. V. Jagadish' AND p.citation_num > 200;
```
Output from LLM: ```sql
SELECT p.title
FROM publication p
JOIN author a ON p.pid = a.aid
WHERE a.name = 'H. V. Jagadish' AND p.citation_num > 200;
```
Extracted SQL: SELECT p.title
FROM publication p
JOIN author a ON p.pid = a.aid
WHERE a.name = 'H. V. Jagadish' AND p.citation_num > 200;

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "journal" (\n"homepage" text,\n"jid" int,\n"name" text,\nprimary key("jid")\n)\n\nCREATE TABLE "journal" (\n"homepage" text,\n"jid" int,\n"name" text,\nprimary key("jid")\n)\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the number of unique journals which have published papers'}]
Using model gpt-3.5-turbo for 585.75 tokens (approx)

 42%|████▎     | 17/40 [00:37<00:50,  2.21s/it]

```sql
SELECT COUNT(DISTINCT jid) AS unique_journals
FROM publication
```
Output from LLM: ```sql
SELECT COUNT(DISTINCT jid) AS unique_journals
FROM publication
```
Extracted SQL: SELECT COUNT(DISTINCT jid) AS unique_journals
FROM publication

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_conference" (\n"cid" int,\n"did" int,\nprimary key ("did", "cid"),\nforeign key("did") references "domain"("did"),\nforeign key("cid") references "conference"("cid"))\n\nCREATE TABLE "domain_conference" (\n"cid" int,\n"did" int,\nprimary key ("did", "cid"),\nforeign key("did") references "domain"("did"),\nforeign key("cid") references "conference"("cid"))\n\nCREATE TABLE "conference" (\n"cid" int,\n"homepage" text,\n"name" text,\nprimary key ("cid")\n)\n\nCREATE TABLE "conference" (\n"cid" int,\n"homepage" text,\n"name" text,\nprimary key ("cid")\n)\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the number of unique papers presented on VLDB conference.'}]
Using model gpt-3.5-turbo for 589.75 tokens (approx)

 45%|████▌     | 18/40 [00:40<00:52,  2.38s/it]

SELECT COUNT(DISTINCT pid)
FROM publication
WHERE cid = (SELECT cid FROM conference WHERE name = 'VLDB');
[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the number of unique papers published on the PVLDB journal after the year 2000.'}]
Using model gpt-3.5-turbo for 640.25 tokens (approx)

 48%|████▊     | 19/40 [00:42<00:49,  2.34s/it]

```sql
SELECT COUNT(DISTINCT pid) AS unique_papers
FROM publication
WHERE jid = (SELECT jid FROM journal WHERE name = 'PVLDB') AND year > 2000;
```
Output from LLM: ```sql
SELECT COUNT(DISTINCT pid) AS unique_papers
FROM publication
WHERE jid = (SELECT jid FROM journal WHERE name = 'PVLDB') AND year > 2000;
```
Extracted SQL: SELECT COUNT(DISTINCT pid) AS unique_papers
FROM publication
WHERE jid = (SELECT jid FROM journal WHERE name = 'PVLDB') AND year > 2000;

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_conference" (\n"cid" int,\n"did" int,\nprimary key ("did", "cid"),\nforeign key("did") references "domain"("did"),\nforeign key("cid") references "conference"("cid"))\n\nCREATE TABLE "domain_conference" (\n"cid" int,\n"did" int,\nprimary key ("did", "cid"),\nforeign key("did") references "domain"("did"),\nforeign key("cid") references "conference"("cid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the number of unique papers authored by H. V. Jagadish and presented at the VLDB conference after the year 2000.'}]
Using model gpt-3.5-turbo for 628.5 tokens (approx)

 50%|█████     | 20/40 [00:45<00:47,  2.39s/it]

```sql
SELECT COUNT(DISTINCT p.pid) AS num_unique_papers
FROM publication p
JOIN author a ON p.pid = a.aid
JOIN domain_conference dc ON p.cid = dc.cid
JOIN domain d ON dc.did = d.did
WHERE a.name = 'H. V. Jagadish'
AND d.name = 'VLDB'
AND p.year > 2000;
```
Output from LLM: ```sql
SELECT COUNT(DISTINCT p.pid) AS num_unique_papers
FROM publication p
JOIN author a ON p.pid = a.aid
JOIN domain_conference dc ON p.cid = dc.cid
JOIN domain d ON dc.did = d.did
WHERE a.name = 'H. V. Jagadish'
AND d.name = 'VLDB'
AND p.year > 2000;
```
Extracted SQL: SELECT COUNT(DISTINCT p.pid) AS num_unique_papers
FROM publication p
JOIN author a ON p.pid = a.aid
JOIN domain_conference dc ON p.cid = dc.cid
JOIN domain d ON dc.did = d.did
WHERE a.name = 'H. V. Jagadish'
AND d.name = 'VLDB'
AND p.year > 2000;

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "organization" (\n"continent" text,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("oid")\n)\n\nCREATE TABLE "organization" (\n"continent" text,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("oid")\n)\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "domain_author" (\n"aid" int,\n"did" int,\nprimary key ("did", "aid"),\nforeign key("did") references "domain"("did"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "domain_author" (\n"aid" int,\n"did" int,\nprimary key ("did", "aid"),\nforeign key("did") references "domain"("did"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "domain" (\n"did" int,\n"name" text,\nprimary key ("did")\n)\n\nCREATE TABLE "domain" (\n"did" int,\n"name" text,\nprimary key ("did")\n)\n\nCREATE TABLE "domain_keyword" (\n"did" int,\n"kid" int,\nprimary key ("did", "kid"),\nforeign key("did") references "domain"("did"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the number of unique organizations in the domain of Databases located in North America.'}]
Using model gpt-3.5-turbo for 496.25 tokens (approx)

 52%|█████▎    | 21/40 [00:47<00:41,  2.20s/it]

```sql
SELECT COUNT(DISTINCT o.oid) AS num_unique_organizations
FROM organization o
JOIN author a ON o.oid = a.oid
JOIN domain_author da ON a.aid = da.aid
JOIN domain d ON da.did = d.did
WHERE d.name = 'Databases' AND o.continent = 'North America';
```
Output from LLM: ```sql
SELECT COUNT(DISTINCT o.oid) AS num_unique_organizations
FROM organization o
JOIN author a ON o.oid = a.oid
JOIN domain_author da ON a.aid = da.aid
JOIN domain d ON da.did = d.did
WHERE d.name = 'Databases' AND o.continent = 'North America';
```
Extracted SQL: SELECT COUNT(DISTINCT o.oid) AS num_unique_organizations
FROM organization o
JOIN author a ON o.oid = a.oid
JOIN domain_author da ON a.aid = da.aid
JOIN domain d ON da.did = d.did
WHERE d.name = 'Databases' AND o.continent = 'North America';

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_conference" (\n"cid" int,\n"did" int,\nprimary key ("did", "cid"),\nforeign key("did") references "domain"("did"),\nforeign key("cid") references "conference"("cid"))\n\nCREATE TABLE "domain_conference" (\n"cid" int,\n"did" int,\nprimary key ("did", "cid"),\nforeign key("did") references "domain"("did"),\nforeign key("cid") references "conference"("cid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the number of unique papers that are presented on VLDB conference and affliated with the University of Michigan.'}]
Using model gpt-3.5-turbo for 651.5 tokens (approx)

 55%|█████▌    | 22/40 [00:49<00:39,  2.22s/it]

SELECT COUNT(DISTINCT p.pid)
FROM publication p
JOIN domain_conference dc ON p.cid = dc.cid
JOIN domain d ON dc.did = d.did
WHERE d.name = 'University of Michigan'
AND p.pid IN (
    SELECT p.pid
    FROM publication p
    JOIN domain_conference dc ON p.cid = dc.cid
    JOIN domain d ON dc.did = d.did
    WHERE d.name = 'VLDB'
);
[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the number of unique papers that are published in PVLDB journal after the year 2000 and affliated with the University of Michigan.'}]
Using model gpt-3.5-turbo for 653.0 tokens (approx)

 57%|█████▊    | 23/40 [00:51<00:38,  2.28s/it]

```sql
SELECT COUNT(DISTINCT p.pid) AS unique_papers
FROM publication p
JOIN journal j ON p.jid = j.jid
JOIN domain_journal dj ON j.jid = dj.jid
JOIN domain d ON dj.did = d.did
WHERE j.title = 'PVLDB'
AND p.year > 2000
AND d.name = 'University of Michigan';
```
Output from LLM: ```sql
SELECT COUNT(DISTINCT p.pid) AS unique_papers
FROM publication p
JOIN journal j ON p.jid = j.jid
JOIN domain_journal dj ON j.jid = dj.jid
JOIN domain d ON dj.did = d.did
WHERE j.title = 'PVLDB'
AND p.year > 2000
AND d.name = 'University of Michigan';
```
Extracted SQL: SELECT COUNT(DISTINCT p.pid) AS unique_papers
FROM publication p
JOIN journal j ON p.jid = j.jid
JOIN domain_journal dj ON j.jid = dj.jid
JOIN domain d ON dj.did = d.did
WHERE j.title = 'PVLDB'
AND p.year > 2000
AND d.name = 'University of Michigan';

Couldn't run sql:  Execution failed on sql 'SELECT COUNT(DISTINCT p.pid) AS unique_papers
FROM publication p
JOIN journal j ON p.jid = j.jid
JOIN domain_journal dj ON j.jid = dj.jid
JOIN domain d ON dj.did = d.did
WHERE j.title = 'PVLDB'
AND p.year > 2000
AND d.name = 'University of Michigan';
': no such column: j.title
[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the total citations number of papers that are publisehd in PVLDB journal after the year 2005.'}]
Using model gpt-3.5-turbo for 641.75 tokens (approx)

 60%|██████    | 24/40 [00:53<00:32,  2.05s/it]

```sql
SELECT SUM(citation_num) AS total_citations
FROM publication
WHERE jid = (SELECT jid FROM journal WHERE name = 'PVLDB')
AND year > 2005;
```
Output from LLM: ```sql
SELECT SUM(citation_num) AS total_citations
FROM publication
WHERE jid = (SELECT jid FROM journal WHERE name = 'PVLDB')
AND year > 2005;
```
Extracted SQL: SELECT SUM(citation_num) AS total_citations
FROM publication
WHERE jid = (SELECT jid FROM journal WHERE name = 'PVLDB')
AND year > 2005;

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the total number of citations for all papers published in the PVLDB journal before the year 2005.'}]
Using model gpt-3.5-turbo for 642.75 tokens (approx)

 62%|██████▎   | 25/40 [00:56<00:35,  2.36s/it]

```sql
SELECT SUM(citation_num)
FROM publication
WHERE jid = (SELECT jid FROM journal WHERE jname = 'PVLDB')
AND year < 2005;
```
Output from LLM: ```sql
SELECT SUM(citation_num)
FROM publication
WHERE jid = (SELECT jid FROM journal WHERE jname = 'PVLDB')
AND year < 2005;
```
Extracted SQL: SELECT SUM(citation_num)
FROM publication
WHERE jid = (SELECT jid FROM journal WHERE jname = 'PVLDB')
AND year < 2005;

Couldn't run sql:  Execution failed on sql 'SELECT SUM(citation_num)
FROM publication
WHERE jid = (SELECT jid FROM journal WHERE jname = 'PVLDB')
AND year < 2005;
': no such column: jname
[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the total number of citations received by papers published in the PVLDB journal each year.'}]
Using model gpt-3.5-turbo for 643.0 tokens (approx)

 65%|██████▌   | 26/40 [00:58<00:31,  2.25s/it]

```sql
SELECT p.year, SUM(p.citation_num) AS total_citations
FROM publication p
WHERE p.jid = (SELECT jid FROM journal WHERE name = 'PVLDB')
GROUP BY p.year
ORDER BY p.year;
```
Output from LLM: ```sql
SELECT p.year, SUM(p.citation_num) AS total_citations
FROM publication p
WHERE p.jid = (SELECT jid FROM journal WHERE name = 'PVLDB')
GROUP BY p.year
ORDER BY p.year;
```
Extracted SQL: SELECT p.year, SUM(p.citation_num) AS total_citations
FROM publication p
WHERE p.jid = (SELECT jid FROM journal WHERE name = 'PVLDB')
GROUP BY p.year
ORDER BY p.year;

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "organization" (\n"continent" text,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("oid")\n)\n\nCREATE TABLE "organization" (\n"continent" text,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("oid")\n)\n\nCREATE TABLE "domain_author" (\n"aid" int,\n"did" int,\nprimary key ("did", "aid"),\nforeign key("did") references "domain"("did"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "domain_author" (\n"aid" int,\n"did" int,\nprimary key ("did", "aid"),\nforeign key("did") references "domain"("did"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the names of authors who are part of the same organization as H. V. Jagadish or Divesh Srivastava.'}]
Using model gpt-3.5-turbo for 541.0 tokens (approx)

 68%|██████▊   | 27/40 [01:00<00:29,  2.24s/it]

```sql
SELECT DISTINCT a1.name
FROM author a1
JOIN author a2 ON a1.oid = a2.oid
JOIN organization o ON a2.oid = o.oid
WHERE a2.name = 'H. V. Jagadish' OR a2.name = 'Divesh Srivastava';
```
Output from LLM: ```sql
SELECT DISTINCT a1.name
FROM author a1
JOIN author a2 ON a1.oid = a2.oid
JOIN organization o ON a2.oid = o.oid
WHERE a2.name = 'H. V. Jagadish' OR a2.name = 'Divesh Srivastava';
```
Extracted SQL: SELECT DISTINCT a1.name
FROM author a1
JOIN author a2 ON a1.oid = a2.oid
JOIN organization o ON a2.oid = o.oid
WHERE a2.name = 'H. V. Jagadish' OR a2.name = 'Divesh Srivastava';

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the titles of papers that were co-authored by H. V. Jagadish and Divesh Srivastava.'}]
Using model gpt-3.5-turbo for 616.25 tokens (approx)

 70%|███████   | 28/40 [01:03<00:29,  2.49s/it]

```sql
SELECT DISTINCT p1.title
FROM publication p1
JOIN writes w1 ON p1.pid = w1.pid
JOIN author a1 ON w1.aid = a1.aid
JOIN writes w2 ON p1.pid = w2.pid
JOIN author a2 ON w2.aid = a2.aid
WHERE a1.name = 'H. V. Jagadish' AND a2.name = 'Divesh Srivastava';
```
Output from LLM: ```sql
SELECT DISTINCT p1.title
FROM publication p1
JOIN writes w1 ON p1.pid = w1.pid
JOIN author a1 ON w1.aid = a1.aid
JOIN writes w2 ON p1.pid = w2.pid
JOIN author a2 ON w2.aid = a2.aid
WHERE a1.name = 'H. V. Jagadish' AND a2.name = 'Divesh Srivastava';
```
Extracted SQL: SELECT DISTINCT p1.title
FROM publication p1
JOIN writes w1 ON p1.pid = w1.pid
JOIN author a1 ON w1.aid = a1.aid
JOIN writes w2 ON p1.pid = w2.pid
JOIN author a2 ON w2.aid = a2.aid
WHERE a1.name = 'H. V. Jagadish' AND a2.name = 'Divesh Srivastava';

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me paper titles that were co-authored by H. V. Jagadish and Divesh Srivastava, which published before the year 2000.'}]
Using model gpt-3.5-turbo for 641.75 tokens (approx)

 72%|███████▎  | 29/40 [01:06<00:28,  2.59s/it]

```sql
SELECT p.title
FROM publication p
JOIN writes w1 ON p.pid = w1.pid
JOIN writes w2 ON p.pid = w2.pid
JOIN author a1 ON w1.aid = a1.aid
JOIN author a2 ON w2.aid = a2.aid
WHERE (a1.author_name = 'H. V. Jagadish' OR a2.author_name = 'H. V. Jagadish')
AND (a1.author_name = 'Divesh Srivastava' OR a2.author_name = 'Divesh Srivastava')
AND p.year < 2000;
```
Output from LLM: ```sql
SELECT p.title
FROM publication p
JOIN writes w1 ON p.pid = w1.pid
JOIN writes w2 ON p.pid = w2.pid
JOIN author a1 ON w1.aid = a1.aid
JOIN author a2 ON w2.aid = a2.aid
WHERE (a1.author_name = 'H. V. Jagadish' OR a2.author_name = 'H. V. Jagadish')
AND (a1.author_name = 'Divesh Srivastava' OR a2.author_name = 'Divesh Srivastava')
AND p.year < 2000;
```
Extracted SQL: SELECT p.title
FROM publication p
JOIN writes w1 ON p.pid = w1.pid
JOIN writes w2 ON p.pid = w2.pid
JOIN author a1 ON w1.aid = a1.aid
JOIN author a2 ON w2.aid = a2.aid
WHERE (a1.author_name = 'H. V. Jagadish' OR a2.author_name = 'H. V. Jagadish')
AND (a1.author_name = 'Divesh Srivastava' OR a2.author_name = 'Divesh Srivastava')
AND p.year < 2000;

Couldn't run sql:  Execution failed on sql 'SELECT p.title
FROM publication p
JOIN writes w1 ON p.pid = w1.pid
JOIN writes w2 ON p.pid = w2.pid
JOIN author a1 ON w1.aid = a1.aid
JOIN author a2 ON w2.aid = a2.aid
WHERE (a1.author_name = 'H. V. Jagadish' OR a2.author_name = 'H. V. Jagadish')
AND (a1.author_name = 'Divesh Srivastava' OR a2.author_name = 'Divesh Srivastava')
AND p.year < 2000;
': no such column: a1.author_name
[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the number of authors who have published more than 10 papers that include the keyword "Relational Database".'}]
Using model gpt-3.5-turbo for 627.5 tokens (approx)

 75%|███████▌  | 30/40 [01:10<00:30,  3.08s/it]

```sql
WITH author_paper_count AS (
    SELECT aid, COUNT(pid) AS paper_count
    FROM writes
    GROUP BY aid
),
author_keyword_count AS (
    SELECT apc.aid, apc.paper_count, COUNT(pk.kid) AS keyword_count
    FROM author_paper_count apc
    JOIN writes w ON apc.aid = w.aid
    JOIN publication_keyword pk ON w.pid = pk.pid
    JOIN keyword k ON pk.kid = k.kid
    WHERE k.keyword = 'Relational Database'
    GROUP BY apc.aid, apc.paper_count
)
SELECT COUNT(akc.aid) AS author_count
FROM author_keyword_count akc
WHERE akc.paper_count > 10;
```
Output from LLM: ```sql
WITH author_paper_count AS (
    SELECT aid, COUNT(pid) AS paper_count
    FROM writes
    GROUP BY aid
),
author_keyword_count AS (
    SELECT apc.aid, apc.paper_count, COUNT(pk.kid) AS keyword_count
    FROM author_paper_count apc
    JOIN writes w ON apc.aid = w.aid
    JOIN publication_keyword pk ON w.pid = pk.pid
    JOIN keyword k ON pk.kid = k.kid
    WHERE k.keyword = 'Relational Database'
    GROUP BY apc.aid, apc.paper_count
)
SELECT COUNT(akc.aid) AS author_count
FROM author_keyword_count akc
WHERE akc.paper_count > 10;
```
Extracted SQL: WITH author_paper_count AS (
    SELECT aid, COUNT(pid) AS paper_count
    FROM writes
    GROUP BY aid
),
author_keyword_count AS (
    SELECT apc.aid, apc.paper_count, COUNT(pk.kid) AS keyword_count
    FROM author_paper_count apc
    JOIN writes w ON apc.aid = w.aid
    JOIN publication_keyword pk ON w.pid = pk.pid
    JOIN keyword k ON pk.kid = k.kid
    WHERE k.keyword = 'Relational Database'
    GROUP BY apc.aid, apc.paper_count
)
SELECT COUNT(akc.aid) AS author_count
FROM author_keyword_count akc
WHERE akc.paper_count > 10;

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "journal" (\n"homepage" text,\n"jid" int,\n"name" text,\nprimary key("jid")\n)\n\nCREATE TABLE "journal" (\n"homepage" text,\n"jid" int,\n"name" text,\nprimary key("jid")\n)\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the number of journals, which have published more than 60 papers containing the keyword "Relational Database".'}]
Using model gpt-3.5-turbo for 599.0 tokens (approx)

 78%|███████▊  | 31/40 [01:13<00:25,  2.89s/it]

```sql
SELECT COUNT(DISTINCT jid) AS num_journals
FROM journal
WHERE jid IN (
    SELECT j.jid
    FROM journal j
    JOIN publication p ON j.jid = p.jid
    JOIN publication_keyword pk ON p.pid = pk.pid
    JOIN keyword k ON pk.kid = k.kid
    WHERE k.name = 'Relational Database'
    GROUP BY j.jid
    HAVING COUNT(DISTINCT p.pid) > 60
);
```
Output from LLM: ```sql
SELECT COUNT(DISTINCT jid) AS num_journals
FROM journal
WHERE jid IN (
    SELECT j.jid
    FROM journal j
    JOIN publication p ON j.jid = p.jid
    JOIN publication_keyword pk ON p.pid = pk.pid
    JOIN keyword k ON pk.kid = k.kid
    WHERE k.name = 'Relational Database'
    GROUP BY j.jid
    HAVING COUNT(DISTINCT p.pid) > 60
);
```
Extracted SQL: SELECT COUNT(DISTINCT jid) AS num_journals
FROM journal
WHERE jid IN (
    SELECT j.jid
    FROM journal j
    JOIN publication p ON j.jid = p.jid
    JOIN publication_keyword pk ON p.pid = pk.pid
    JOIN keyword k ON pk.kid = k.kid
    WHERE k.name = 'Relational Database'
    GROUP BY j.jid
    HAVING COUNT(DISTINCT p.pid) > 60
);

Couldn't run sql:  Execution failed on sql 'SELECT COUNT(DISTINCT jid) AS num_journals
FROM journal
WHERE jid IN (
    SELECT j.jid
    FROM journal j
    JOIN publication p ON j.jid = p.jid
    JOIN publication_keyword pk ON p.pid = pk.pid
    JOIN keyword k ON pk.kid = k.kid
    WHERE k.name = 'Relational Database'
    GROUP BY j.jid
    HAVING COUNT(DISTINCT p.pid) > 60
);
': no such column: k.name
[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_keyword" (\n"did" int,\n"kid" int,\nprimary key ("did", "kid"),\nforeign key("did") references "domain"("did"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "domain_keyword" (\n"did" int,\n"kid" int,\nprimary key ("did", "kid"),\nforeign key("did") references "domain"("did"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "keyword" (\n"keyword" text,\n"kid" int,\nprimary key("kid")\n)\n\nCREATE TABLE "keyword" (\n"keyword" text,\n"kid" int,\nprimary key("kid")\n)\n\nCREATE TABLE "domain_conference" (\n"cid" int,\n"did" int,\nprimary key ("did", "cid"),\nforeign key("did") references "domain"("did"),\nforeign key("cid") references "conference"("cid"))\n\nCREATE TABLE "domain_conference" (\n"cid" int,\n"did" int,\nprimary key ("did", "cid"),\nforeign key("did") references "domain"("did"),\nforeign key("cid") references "conference"("cid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the number of keywords, which have been contained by more than 100 papers at the VLDB conference.'}]
Using model gpt-3.5-turbo for 601.25 tokens (approx)

 80%|████████  | 32/40 [01:15<00:22,  2.87s/it]

```sql
SELECT COUNT(DISTINCT kid) AS num_keywords
FROM publication_keyword
WHERE pid IN (
    SELECT pid
    FROM publication
    WHERE cid = 'VLDB'
    GROUP BY pid
    HAVING COUNT(pid) > 100
);
```
Output from LLM: ```sql
SELECT COUNT(DISTINCT kid) AS num_keywords
FROM publication_keyword
WHERE pid IN (
    SELECT pid
    FROM publication
    WHERE cid = 'VLDB'
    GROUP BY pid
    HAVING COUNT(pid) > 100
);
```
Extracted SQL: SELECT COUNT(DISTINCT kid) AS num_keywords
FROM publication_keyword
WHERE pid IN (
    SELECT pid
    FROM publication
    WHERE cid = 'VLDB'
    GROUP BY pid
    HAVING COUNT(pid) > 100
);

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "keyword" (\n"keyword" text,\n"kid" int,\nprimary key("kid")\n)\n\nCREATE TABLE "keyword" (\n"keyword" text,\n"kid" int,\nprimary key("kid")\n)\n\nCREATE TABLE "journal" (\n"homepage" text,\n"jid" int,\n"name" text,\nprimary key("jid")\n)\n\nCREATE TABLE "journal" (\n"homepage" text,\n"jid" int,\n"name" text,\nprimary key("jid")\n)\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the number of publication keywords, which have been contained by more than 10 papers of author H. V. Jagadish.'}]
Using model gpt-3.5-turbo for 547.0 tokens (approx)

 82%|████████▎ | 33/40 [01:19<00:22,  3.16s/it]

```sql
SELECT COUNT(kid) AS num_keywords
FROM (
    SELECT kid, COUNT(pid) AS num_papers
    FROM publication_keyword
    WHERE pid IN (
        SELECT pid
        FROM publication
        WHERE pid IN (
            SELECT pid
            FROM publication
            WHERE cid = 'H. V. Jagadish'
        )
    )
    GROUP BY kid
    HAVING num_papers > 10
) AS subquery;
```
Output from LLM: ```sql
SELECT COUNT(kid) AS num_keywords
FROM (
    SELECT kid, COUNT(pid) AS num_papers
    FROM publication_keyword
    WHERE pid IN (
        SELECT pid
        FROM publication
        WHERE pid IN (
            SELECT pid
            FROM publication
            WHERE cid = 'H. V. Jagadish'
        )
    )
    GROUP BY kid
    HAVING num_papers > 10
) AS subquery;
```
Extracted SQL: SELECT COUNT(kid) AS num_keywords
FROM (
    SELECT kid, COUNT(pid) AS num_papers
    FROM publication_keyword
    WHERE pid IN (
        SELECT pid
        FROM publication
        WHERE pid IN (
            SELECT pid
            FROM publication
            WHERE cid = 'H. V. Jagadish'
        )
    )
    GROUP BY kid
    HAVING num_papers > 10
) AS subquery;

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "journal" (\n"homepage" text,\n"jid" int,\n"name" text,\nprimary key("jid")\n)\n\nCREATE TABLE "journal" (\n"homepage" text,\n"jid" int,\n"name" text,\nprimary key("jid")\n)\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the number of publication keywords, which have been contained by the most number of papers by author H. V. Jagadish.'}]
Using model gpt-3.5-turbo for 586.5 tokens (approx)

 85%|████████▌ | 34/40 [01:23<00:20,  3.44s/it]

```sql
WITH author_papers AS (
    SELECT p.pid
    FROM publication p
    JOIN author a ON p.pid = a.pid
    WHERE a.name = 'H. V. Jagadish'
),
keyword_count AS (
    SELECT pk.kid, COUNT(pk.pid) AS paper_count
    FROM publication_keyword pk
    WHERE pk.pid IN (SELECT pid FROM author_papers)
    GROUP BY pk.kid
)
SELECT COUNT(*) AS num_keywords
FROM keyword_count
WHERE paper_count = (SELECT MAX(paper_count) FROM keyword_count);
```
Output from LLM: ```sql
WITH author_papers AS (
    SELECT p.pid
    FROM publication p
    JOIN author a ON p.pid = a.pid
    WHERE a.name = 'H. V. Jagadish'
),
keyword_count AS (
    SELECT pk.kid, COUNT(pk.pid) AS paper_count
    FROM publication_keyword pk
    WHERE pk.pid IN (SELECT pid FROM author_papers)
    GROUP BY pk.kid
)
SELECT COUNT(*) AS num_keywords
FROM keyword_count
WHERE paper_count = (SELECT MAX(paper_count) FROM keyword_count);
```
Extracted SQL: WITH author_papers AS (
    SELECT p.pid
    FROM publication p
    JOIN author a ON p.pid = a.pid
    WHERE a.name = 'H. V. Jagadish'
),
keyword_count AS (
    SELECT pk.kid, COUNT(pk.pid) AS paper_count
    FROM publication_keyword pk
    WHERE pk.pid IN (SELECT pid FROM author_papers)
    GROUP BY pk.kid
)
SELECT COUNT(*) AS num_keywords
FROM keyword_count
WHERE paper_count = (SELECT MAX(paper_count) FROM keyword_count);

Couldn't run sql:  Execution failed on sql 'WITH author_papers AS (
    SELECT p.pid
    FROM publication p
    JOIN author a ON p.pid = a.pid
    WHERE a.name = 'H. V. Jagadish'
),
keyword_count AS (
    SELECT pk.kid, COUNT(pk.pid) AS paper_count
    FROM publication_keyword pk
    WHERE pk.pid IN (SELECT pid FROM author_papers)
    GROUP BY pk.kid
)
SELECT COUNT(*) AS num_keywords
FROM keyword_count
WHERE paper_count = (SELECT MAX(paper_count) FROM keyword_count);
': no such column: a.pid
[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "domain_conference" (\n"cid" int,\n"did" int,\nprimary key ("did", "cid"),\nforeign key("did") references "domain"("did"),\nforeign key("cid") references "conference"("cid"))\n\nCREATE TABLE "domain_conference" (\n"cid" int,\n"did" int,\nprimary key ("did", "cid"),\nforeign key("did") references "domain"("did"),\nforeign key("cid") references "conference"("cid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "conference" (\n"cid" int,\n"homepage" text,\n"name" text,\nprimary key ("cid")\n)\n\nCREATE TABLE "conference" (\n"cid" int,\n"homepage" text,\n"name" text,\nprimary key ("cid")\n)\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "journal" (\n"homepage" text,\n"jid" int,\n"name" text,\nprimary key("jid")\n)\n\nCREATE TABLE "journal" (\n"homepage" text,\n"jid" int,\n"name" text,\nprimary key("jid")\n)\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the name of conferences, which have more than 10 papers by author H. V. Jagadish.'}]
Using model gpt-3.5-turbo for 556.25 tokens (approx)

 88%|████████▊ | 35/40 [01:26<00:15,  3.05s/it]

```sql
SELECT c.name
FROM conference c
JOIN publication p ON c.cid = p.cid
WHERE p.cid IN (
    SELECT cid
    FROM publication
    WHERE pid IN (
        SELECT pid
        FROM publication
        WHERE cid = 'H. V. Jagadish'
    )
    GROUP BY cid
    HAVING COUNT(DISTINCT pid) > 10
);
```
Output from LLM: ```sql
SELECT c.name
FROM conference c
JOIN publication p ON c.cid = p.cid
WHERE p.cid IN (
    SELECT cid
    FROM publication
    WHERE pid IN (
        SELECT pid
        FROM publication
        WHERE cid = 'H. V. Jagadish'
    )
    GROUP BY cid
    HAVING COUNT(DISTINCT pid) > 10
);
```
Extracted SQL: SELECT c.name
FROM conference c
JOIN publication p ON c.cid = p.cid
WHERE p.cid IN (
    SELECT cid
    FROM publication
    WHERE pid IN (
        SELECT pid
        FROM publication
        WHERE cid = 'H. V. Jagadish'
    )
    GROUP BY cid
    HAVING COUNT(DISTINCT pid) > 10
);

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_conference" (\n"cid" int,\n"did" int,\nprimary key ("did", "cid"),\nforeign key("did") references "domain"("did"),\nforeign key("cid") references "conference"("cid"))\n\nCREATE TABLE "domain_conference" (\n"cid" int,\n"did" int,\nprimary key ("did", "cid"),\nforeign key("did") references "domain"("did"),\nforeign key("cid") references "conference"("cid"))\n\nCREATE TABLE "conference" (\n"cid" int,\n"homepage" text,\n"name" text,\nprimary key ("cid")\n)\n\nCREATE TABLE "conference" (\n"cid" int,\n"homepage" text,\n"name" text,\nprimary key ("cid")\n)\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "journal" (\n"homepage" text,\n"jid" int,\n"name" text,\nprimary key("jid")\n)\n\nCREATE TABLE "journal" (\n"homepage" text,\n"jid" int,\n"name" text,\nprimary key("jid")\n)\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the name of conferences, which have the most number of papers by author H. V. Jagadish.'}]
Using model gpt-3.5-turbo for 543.75 tokens (approx)

 90%|█████████ | 36/40 [01:29<00:12,  3.21s/it]

```sql
WITH author_papers AS (
    SELECT p.cid, COUNT(p.pid) AS num_papers
    FROM publication p
    JOIN author_publication ap ON p.pid = ap.pid
    JOIN author a ON ap.aid = a.aid
    WHERE a.name = 'H. V. Jagadish'
    GROUP BY p.cid
)
SELECT c.name
FROM conference c
JOIN author_papers ap ON c.cid = ap.cid
WHERE ap.num_papers = (SELECT MAX(num_papers) FROM author_papers)
```
Output from LLM: ```sql
WITH author_papers AS (
    SELECT p.cid, COUNT(p.pid) AS num_papers
    FROM publication p
    JOIN author_publication ap ON p.pid = ap.pid
    JOIN author a ON ap.aid = a.aid
    WHERE a.name = 'H. V. Jagadish'
    GROUP BY p.cid
)
SELECT c.name
FROM conference c
JOIN author_papers ap ON c.cid = ap.cid
WHERE ap.num_papers = (SELECT MAX(num_papers) FROM author_papers)
```
Extracted SQL: WITH author_papers AS (
    SELECT p.cid, COUNT(p.pid) AS num_papers
    FROM publication p
    JOIN author_publication ap ON p.pid = ap.pid
    JOIN author a ON ap.aid = a.aid
    WHERE a.name = 'H. V. Jagadish'
    GROUP BY p.cid
)
SELECT c.name
FROM conference c
JOIN author_papers ap ON c.cid = ap.cid
WHERE ap.num_papers = (SELECT MAX(num_papers) FROM author_papers)

Couldn't run sql:  Execution failed on sql 'WITH author_papers AS (
    SELECT p.cid, COUNT(p.pid) AS num_papers
    FROM publication p
    JOIN author_publication ap ON p.pid = ap.pid
    JOIN author a ON ap.aid = a.aid
    WHERE a.name = 'H. V. Jagadish'
    GROUP BY p.cid
)
SELECT c.name
FROM conference c
JOIN author_papers ap ON c.cid = ap.cid
WHERE ap.num_papers = (SELECT MAX(num_papers) FROM author_papers)
': no such table: author_publication
[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "journal" (\n"homepage" text,\n"jid" int,\n"name" text,\nprimary key("jid")\n)\n\nCREATE TABLE "journal" (\n"homepage" text,\n"jid" int,\n"name" text,\nprimary key("jid")\n)\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the name of journal, which have the most number of papers by author H. V. Jagadish.'}]
Using model gpt-3.5-turbo for 573.25 tokens (approx)

 92%|█████████▎| 37/40 [01:32<00:09,  3.07s/it]

```sql
WITH author_id AS (
    SELECT aid
    FROM author
    WHERE name = 'H. V. Jagadish'
),
papers_count AS (
    SELECT j.jid, COUNT(*) AS num_papers
    FROM publication p
    JOIN author a ON p.pid = a.aid
    JOIN journal j ON p.jid = j.jid
    WHERE a.aid IN (SELECT aid FROM author_id)
    GROUP BY j.jid
)
SELECT j.name AS journal_name
FROM journal j
JOIN papers_count pc ON j.jid = pc.jid
WHERE pc.num_papers = (SELECT MAX(num_papers) FROM papers_count);
```
Output from LLM: ```sql
WITH author_id AS (
    SELECT aid
    FROM author
    WHERE name = 'H. V. Jagadish'
),
papers_count AS (
    SELECT j.jid, COUNT(*) AS num_papers
    FROM publication p
    JOIN author a ON p.pid = a.aid
    JOIN journal j ON p.jid = j.jid
    WHERE a.aid IN (SELECT aid FROM author_id)
    GROUP BY j.jid
)
SELECT j.name AS journal_name
FROM journal j
JOIN papers_count pc ON j.jid = pc.jid
WHERE pc.num_papers = (SELECT MAX(num_papers) FROM papers_count);
```
Extracted SQL: WITH author_id AS (
    SELECT aid
    FROM author
    WHERE name = 'H. V. Jagadish'
),
papers_count AS (
    SELECT j.jid, COUNT(*) AS num_papers
    FROM publication p
    JOIN author a ON p.pid = a.aid
    JOIN journal j ON p.jid = j.jid
    WHERE a.aid IN (SELECT aid FROM author_id)
    GROUP BY j.jid
)
SELECT j.name AS journal_name
FROM journal j
JOIN papers_count pc ON j.jid = pc.jid
WHERE pc.num_papers = (SELECT MAX(num_papers) FROM papers_count);

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_conference" (\n"cid" int,\n"did" int,\nprimary key ("did", "cid"),\nforeign key("did") references "domain"("did"),\nforeign key("cid") references "conference"("cid"))\n\nCREATE TABLE "domain_conference" (\n"cid" int,\n"did" int,\nprimary key ("did", "cid"),\nforeign key("did") references "domain"("did"),\nforeign key("cid") references "conference"("cid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the title of paper in the domain of "Databases" with the highest citation number.'}]
Using model gpt-3.5-turbo for 638.75 tokens (approx)

 95%|█████████▌| 38/40 [01:34<00:05,  2.86s/it]

```sql
SELECT p.title
FROM publication p
JOIN domain_publication dp ON p.pid = dp.pid
JOIN domain d ON dp.did = d.did
WHERE d.domain_name = 'Databases'
ORDER BY p.citation_num DESC
LIMIT 1;
```
Output from LLM: ```sql
SELECT p.title
FROM publication p
JOIN domain_publication dp ON p.pid = dp.pid
JOIN domain d ON dp.did = d.did
WHERE d.domain_name = 'Databases'
ORDER BY p.citation_num DESC
LIMIT 1;
```
Extracted SQL: SELECT p.title
FROM publication p
JOIN domain_publication dp ON p.pid = dp.pid
JOIN domain d ON dp.did = d.did
WHERE d.domain_name = 'Databases'
ORDER BY p.citation_num DESC
LIMIT 1;

Couldn't run sql:  Execution failed on sql 'SELECT p.title
FROM publication p
JOIN domain_publication dp ON p.pid = dp.pid
JOIN domain d ON dp.did = d.did
WHERE d.domain_name = 'Databases'
ORDER BY p.citation_num DESC
LIMIT 1;
': no such column: d.domain_name
[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "author" (\n"aid" int,\n"homepage" text,\n"name" text,\n"oid" int,\nprimary key("aid"),\nforeign key("oid") references "organization"("oid"))\n\nCREATE TABLE "journal" (\n"homepage" text,\n"jid" int,\n"name" text,\nprimary key("jid")\n)\n\nCREATE TABLE "journal" (\n"homepage" text,\n"jid" int,\n"name" text,\nprimary key("jid")\n)\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\nCREATE TABLE "writes" (\n"aid" int,\n"pid" int,\nprimary key ("aid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("aid") references "author"("aid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the title of paper by author H. V. Jagadish with the highest citation number.'}]
Using model gpt-3.5-turbo for 569.75 tokens (approx)

 98%|█████████▊| 39/40 [01:38<00:03,  3.00s/it]

```sql
SELECT p.title
FROM publication p
JOIN writes w ON p.pid = w.pid
JOIN author a ON w.aid = a.aid
WHERE a.name = 'H. V. Jagadish'
ORDER BY p.citation_num DESC
LIMIT 1;
```
Output from LLM: ```sql
SELECT p.title
FROM publication p
JOIN writes w ON p.pid = w.pid
JOIN author a ON w.aid = a.aid
WHERE a.name = 'H. V. Jagadish'
ORDER BY p.citation_num DESC
LIMIT 1;
```
Extracted SQL: SELECT p.title
FROM publication p
JOIN writes w ON p.pid = w.pid
JOIN author a ON w.aid = a.aid
WHERE a.name = 'H. V. Jagadish'
ORDER BY p.citation_num DESC
LIMIT 1;

[{'role': 'system', 'content': 'The user provides a question and you provide SQL. You will only respond with SQL code and not with any explanations.\n\nRespond with only SQL code. Do not answer with any explanations -- just the code.\n\nYou may use the following DDL statements as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "publication" (\n"abstract" text,\n"cid" text,\n"citation_num" int,\n"jid" int,\n"pid" int,\n"reference_num" int,\n"title" text,\n"year" int,\nprimary key("pid"),\nforeign key("cid") references "conference"("cid"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "cite" (\n"cited" int,\n"citing" int,\nforeign key("citing") references "publication"("pid"),\nforeign key("cited") references "publication"("pid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "publication_keyword" (\n"pid" int,\n"kid" int,\nprimary key ("kid", "pid"),\nforeign key("pid") references "publication"("pid"),\nforeign key("kid") references "keyword"("kid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_journal" (\n"did" int,\n"jid" int,\nprimary key ("did", "jid"),\nforeign key("did") references "domain"("did"),\nforeign key("jid") references "journal"("jid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\nCREATE TABLE "domain_publication" (\n"did" int,\n"pid" int,\nprimary key ("did", "pid"),\nforeign key("did") references "domain"("did"),\nforeign key("pid") references "publication"("pid"))\n\n\nYou may use the following documentation as a reference for what tables might be available. Use responses to past questions also to guide you:\n\nThis is a SQLite database\n\n'}, {'role': 'user', 'content': 'return me the title of paper after year 2000 in jounal PVLDB with the highest citation number.'}]
Using model gpt-3.5-turbo for 641.5 tokens (approx)

100%|██████████| 40/40 [01:40<00:00,  2.50s/it]

```sql
SELECT p.title
FROM publication p
JOIN journal j ON p.jid = j.jid
WHERE j.journal_name = 'PVLDB' AND p.year > 2000
ORDER BY p.citation_num DESC
LIMIT 1;
```
Output from LLM: ```sql
SELECT p.title
FROM publication p
JOIN journal j ON p.jid = j.jid
WHERE j.journal_name = 'PVLDB' AND p.year > 2000
ORDER BY p.citation_num DESC
LIMIT 1;
```
Extracted SQL: SELECT p.title
FROM publication p
JOIN journal j ON p.jid = j.jid
WHERE j.journal_name = 'PVLDB' AND p.year > 2000
ORDER BY p.citation_num DESC
LIMIT 1;

Couldn't run sql:  Execution failed on sql 'SELECT p.title
FROM publication p
JOIN journal j ON p.jid = j.jid
WHERE j.journal_name = 'PVLDB' AND p.year > 2000
ORDER BY p.citation_num DESC
LIMIT 1;
': no such column: j.journal_name

In [40]:
len(res)

40

In [41]:
res2 = list(map(lambda x: x.replace('\n', ' '), res))

In [43]:
with open('/Users/marceloyou/Desktop/UCL-DSML/COMP0087-Boss/SQLess/src/evaluation/out/academic-sample-v2/vanna/predict.txt', 'w') as f:
    for r in res2:
        f.write(f'{r}\n')

## Train with inventory

In [6]:
vn.connect_to_sqlite('/Users/marceloyou/Desktop/UCL-DSML/COMP0087-Boss/SQLess/data/inventory/inventory.sqlite')

In [7]:
inventory_ddl = vn.run_sql("SELECT type, sql FROM sqlite_master WHERE sql is not null")

In [8]:
inventory_ddl

    type                                                sql
0  table  CREATE TABLE salesman (\n    salesman_id INT P...
1  table  CREATE TABLE customer (\n    customer_id INT P...
2  table  CREATE TABLE orders (\n    ord_no INT PRIMARY ...

In [ ]:
for ddl in inventory_ddl['sql'].to_list():
  vn.train(ddl=ddl)

In [15]:
questions = pd.read_csv('/Users/marceloyou/Desktop/UCL-DSML/COMP0087-Boss/SQLess/data/inventory/inventory.csv')

In [16]:
questions.shape

(50, 4)

In [ ]:
res = []
import tqdm

for q in tqdm.tqdm(questions.question.to_list()):
    ans = vn.ask(question=q, print_results=False, auto_train=False, visualize=False)
    res.append(ans[0])

In [18]:
res2 = list(map(lambda x: x.replace('\n', ' '), res))

In [23]:
questions['predicted'] = res2

In [25]:
from sqlalchemy import create_engine

db_path = '/Users/marceloyou/Desktop/UCL-DSML/COMP0087-Boss/SQLess/data/inventory/inventory.sqlite'
db = connect_db('engine', engine = create_engine(f'sqlite:///{db_path}'))

In [26]:
df = await execute_all_queries(db, questions, 'predicted', 'predict_ans')

In [28]:
df.drop(columns=['masked']).to_csv('/Users/marceloyou/Desktop/UCL-DSML/COMP0087-Boss/SQLess/src/evaluation/out/inventory-v2/predict.csv', index = None)